@media only screen and (orientation: portrait) {
    .jelmerbody {
        background-image: url('../img/Huis.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .riddlebody {
        background-image: url('../img/blaadje.png');
        background-size: cover;
        background-repeat: repeat;
        height: 100%;
    }
    .jelmerpuzzelbody {
        background-image: url(../img/alarm_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .jelmerpuzzelbodyfout {
        background-image: url(../img/alarm_mobilefout.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #hospitalbody {
        background-image: url(../img/ziekenhuismobile.png);
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #callbody {
        background-image: url(../img/anonymous.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -600px;
    }
    .button_deur{
        position: absolute;
        top: 67.5%;
        left: 41.5%;
        padding-top: 90px;
        padding-bottom: 50px;
        padding-left: 60px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.4s ease-out;
    }
    .button_deur:hover {
        background-position: right;
    }
    .button_raam{
        position: absolute;
        top: 41%;
        left: 29%;
        padding-top: 5px;
        padding-bottom: 105px;
        padding-left: 151px;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .easteregg {
        position: absolute;
        top: 44%;
        left: 89%;
        padding-top: 40px;
        padding-bottom: 50px;
        background : none;
        padding-left: 50px;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    #riddletext {
        width: 50%;
        margin: 0 auto;
    }
    #riddletext p { 
        font-size: 20px;
        margin-top: 10px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    #riddletext h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    #riddletext h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .pijl {
        margin-left: 20px;
        margin-top : 20px;
        -webkit-user-drag: none;
        position: absolute;
        top: 74%;
        left: 15%;
        width: 400px;
    }
    #apijl {
        -webkit-user-drag: none;
        width: 150px;
        visibility: hidden;
    }
    .abpijl {
        margin-left: 20px;
        margin-top: 20px;
        -webkit-user-drag: none;
        width: 80px;
    }
    #abcpijl {
        margin-left: 20px;
        margin-top : 20px;
        -webkit-user-drag: none;
        position: absolute;
        top: 74%;
        left: 8%;
        width: 400px;
        background-color: white;
        visibility: hidden;
    }
    .button_alarm1 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 5.5%;
        top: 28%;
        ;
        border-radius: 1rem;
    }
    .button_alarm2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 36.5%;
        top: 28%;
        ;
        border-radius: 1rem;
    }
    .button_alarm3 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 66.5%;
        top: 28%;
        ;
        border-radius: 1rem;
    }
    .button_alarm4 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 5.5%;
        top: 40%;
        ;
        border-radius: 1rem;
    }
    .button_alarm5 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 36.5%;
        top: 40%;
        ;
        border-radius: 1rem;
    }

    .button_alarm6 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 66.5%;
        top: 40%;
        ;
        border-radius: 1rem;
    }
    .button_alarm7 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 5.5%;
        top: 53%;
        ;
        border-radius: 1rem;
    }
    .button_alarm8 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 36.5%;
        top: 53%;
        ;
        border-radius: 1rem;
    }
    .button_alarm9 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 66.5%;
        top: 53%;
        ;
        border-radius: 1rem;
    }
    .button_alarm10 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 36.5%;
        top: 65%;
        ;
        border-radius: 1rem;
        
    }
    #confirm {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: green;
        left: 65%;
        top: 65%;
        border-radius: 3rem;
        display: none;
    }
    #rightButton1 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 36.5%;
        top: 65%;
        border-radius: 1rem;
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }
    #rightButton1:hover {
        cursor: pointer;
    }
    #rightButton2 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 36.5%;
        top: 40%;
        border-radius: 1rem;
        display: none;
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }
    #rightButton2:hover {
        cursor: pointer;
    }
    #rightButton3 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 36.5%;
        top: 28%;
        border-radius: 1rem;
        display: none;
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }
    #rightButton3:hover {
        cursor: pointer;
    }
    .button_alarmfout {
        position: absolute;
        width: 110px;
        height: 110px;
        background-color: red;
        border-radius: 3rem;
        left: 5.5%;
        top: 64.5%;
    }
    .button_alarmgoed {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 45.3%;
        top: 66%;
        border-radius: 1rem;
    }
    #code {
        position: absolute;
        left: 35%;
        top: 13%;
        font-size: 70px;
        font-family: 'Courier New', Courier, monospace;

    }
    #welcome {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        z-index: 1;
        font-weight: 700;
        font-size: 15px;
        margin: 10px 10px 50px 30px;
    }
    .box{
        position: absolute;
        top: 0%;
        z-index: -1;
        width: 100%;
        height: 250px;
        background-color: white;
        opacity: 70%;
        }
    .blink {
        animation: blink 1.5s infinite;
        left: 0%;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: red;
        pointer-events: none;
    }
    @keyframes blink {
        0% {
            opacity: 0.5;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
}



@media only screen and (orientation: landscape) {
    .jelmerbody {
        background-image: url('../img/huis_desktop.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .riddlebody {
        background-image: url('../img/blaadje.png');
        background-size: cover;
        background-repeat: repeat;
    }
    .jelmerpuzzelbody {
        background-image: url(../img/alarm_desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #hospitalbody {
        background-image: url(../img/ziekenhuisdesktop.png);
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #callbody {
        background-image: url(../img/anonymous.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .button_deur{
        position: absolute;
        top: 69%;
        left: 35.5%;
        padding-top: 190px;
        padding-bottom: 130px;
        padding-left: 135px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.3s ease-out;
    }
    .button_deur:hover {
        background-position: right;
    }
    .button_raam{
        position: absolute;
        top: 32.5%;
        left: 32%;
        padding-top: 70px;
        padding-bottom: 125px;
        padding-left: 310px;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .easteregg {
        position: absolute;
        top: 36%;
        left: 72%;
        padding-top: 40px;
        padding-bottom: 125px;
        padding-left: 290px;
        border-radius: 0.5rem;
        cursor: pointer;
        background: none;
    }

    #riddletext {
        width: 50%;
        margin: 0 auto;
    }
    #riddletext p { 
        font-size: 50px;
        margin-top: 30px;
    }
    #riddletext h1 {
        font-size: 70px;
        text-align: center;
        margin-top: 300px;
        margin-bottom: 10px;
    }
    #riddletext h2 {
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .pijl {
        margin-left: 20px;
        margin-top : 20px;
        -webkit-user-drag: none;
        position: absolute;
        top: 75%;
        left: 80%;
        width: 600px;
    }
    
    #apijl {
        -webkit-user-drag: none;
        width: 150px;
        visibility: hidden;
    }
    .abpijl {
        margin-left: 50px;
        margin-top: 50px;
        -webkit-user-drag: none;
        width: 150px;
    }
    #abcpijl {
        margin-left: 20px;
        margin-top : 20px;
        -webkit-user-drag: none;
        position: absolute;
        top: 75%;
        left: 80%;
        width: 600px;
        visibility: hidden;
    }
    #code {
        position: absolute;
        left: 44%;
        top: 25%;
        font-size: 70px;
        font-family: 'Courier New', Courier, monospace;

    }
    
    .jelmerpuzzelbodyfout {
        background-image: url(../img/alarm_desktopfout.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .button_alarm1 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 34%;
        top: 36.5%;
        border-radius: 1rem;
    }
    .button_alarm2 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39.5%;
        top: 36.5%;
        border-radius: 1rem;
    }
    .button_alarm3 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 45.3%;
        top: 36.5%;
        border-radius: 1rem;
    }
    .button_alarm4 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 34%;
        top: 46.5%;
        border-radius: 1rem;
    }
    .button_alarm5 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39.5%;
        top: 46.5%;
        border-radius: 1rem;
    }

    .button_alarm6 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 45.3%;
        top: 46.5%;
        border-radius: 1rem;
    }
    .button_alarm7 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 34%;
        top: 56%;
        border-radius: 1rem;
    }
    .button_alarm8 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39.5%;
        top: 56%;
        border-radius: 1rem;
    }
    .button_alarm9 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 45.3%;
        top: 56%;
        border-radius: 1rem;
    }
    .button_alarm10 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39%;
        top: 66%;
        border-radius: 1rem;
        
    }
    #confirm {
        position: absolute;
        width: 110px;
        height: 110px;
        background-color: green;
        left: 45.3%;
        top: 66%;
        border-radius: 3rem;
        display: none;
    }
    #rightButton1 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39%;
        top: 66%;
        border-radius: 1rem;
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }
    #rightButton1:hover {
        cursor: pointer;
    }
    #rightButton2 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39%;
        top: 46.5%;
        border-radius: 1rem;
        display: none;
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }
    #rightButton2:hover {
        cursor: pointer;
    }
    #rightButton3 {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 39.5%;
        top: 36.5%;
        border-radius: 1rem;
        display: none;
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }
    #rightButton3:hover {
        cursor: pointer;
    }
    .button_alarmfout {
        position: absolute;
        width: 110px;
        height: 110px;
        background-color: red;
        border-radius: 3rem;
        left: 33.9%;
        top: 66%;
    }
    .button_alarmgoed {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 45.3%;
        top: 66%;
        border-radius: 1rem;
    }
    #welcome {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        z-index: 1;
        font-weight: 700;
        font-size: 30px;
        margin: 10px 10px 50px 50px;
    }
    .box{
        position: absolute;
        top: 0%;
        z-index: -1;
        width: 100%;
        height: 200px;
        background-color: white;
        opacity: 70%;
        }
    .blink {
        animation: blink 1.5s infinite;
        left: 0%;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: red;
        pointer-events: none;
    }
    @keyframes blink {
        0% {
            opacity: 0.5;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
    
}