@media only screen and (orientation: portrait) {
    body {
        background-image: url('../img/Huis.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .button_1{
        position: absolute;
        top: 65%;
        left: 37%;
        padding-top: 50px;
        padding-bottom: 120px;
        padding-left: 40px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, none 50%, darkred 50%);
        background-size: 200%;
        transition: 0.4s ease-out;
    }
    .button_1:hover {
        background-position: right;
    }
}



@media only screen and (orientation: landscape) {
    body {
        background-image: url('../img/huis_desktop.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .button_1{
        position: absolute;
        top: 69%;
        left: 35.5%;
        padding-top: 190px;
        padding-bottom: 130px;
        padding-left: 135px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.4s ease-out;
    }
    .button_1:hover {
        background-position: right;
    }
}