@media only screen and (orientation: portrait) {
    .jelmerbody {
        background-image: url('../img/Huis.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .riddlebody {
        background-image: url('../img/blaadje.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .button_deur{
        position: absolute;
        top: 67.5%;
        left: 41.5%;
        padding-top: 90px;
        padding-bottom: 50px;
        padding-left: 60px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.4s ease-out;
    }
    .button_deur:hover {
        background-position: right;
    }
    .button_raam{
        position: absolute;
        top: 44%;
        left: 32%;
        padding-top: 20px;
        padding-bottom: 105px;
        padding-left: 200px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.4s ease-out;
    }
    .button_raam:hover {
        background-position: right;
    }
}



@media only screen and (orientation: landscape) {
    .jelmerbody {
        background-image: url('../img/huis_desktop.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .riddlebody {
        background-image: url('../img/blaadje.png');
        background-size: cover;
        background-repeat: repeat;
    }
    .button_deur{
        position: absolute;
        top: 69%;
        left: 35.5%;
        padding-top: 190px;
        padding-bottom: 130px;
        padding-left: 135px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.3s ease-out;
    }
    .button_deur:hover {
        background-position: right;
    }
    .button_raam{
        position: absolute;
        top: 32.5%;
        left: 32%;
        padding-top: 70px;
        padding-bottom: 125px;
        padding-left: 310px;
        border-radius: 0.5rem;
        cursor: pointer;
        background-image: linear-gradient(to right, black 50%, darkred 50%);
        background-size: 200%;
        transition: 0.3s ease-out;
    }
    .button_raam:hover {
        background-position: right;
    }
    .easteregg {
        position: absolute;
        top: 36%;
        left: 72%;
        padding-top: 40px;
        padding-bottom: 125px;
        padding-left: 290px;
        border-radius: 0.5rem;
        cursor: pointer;
        background: none;
    }
}