@media (max-width:960px) {
    .lock {
        background-color: black;
        opacity: 50%;
        border-radius: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 75% !important;
        height: 50% !important;
    }
    
    .pin {
        background-color: grey;
        opacity: 90%;
        display: flex inline;
        min-width: 1em;
        max-width: 5em;
        margin-left: 1em !important;
        margin-right: 1em !important;
        border-radius: 5%;
    }

    .lockLine {
        background-color: red;
        width: 75% !important;
        height: 0.5em;
        position: absolute
    }
}

.lock {
    background-color: black;
    opacity: 50%;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40em;
    min-height: 30em;
    height: 30em;
}

.pin {
    background-color: grey;
    opacity: 90%;
    display: flex inline;
    min-width: 1em;
    width: 5em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 5%;
}

.lockLine {
    background-color: red;
    width: 40em;
    height: 0.5em;
    position: absolute
}

.goAhead {
    font-family: titletext;
    padding: .5em;
    font-size: 10em;
    width: fit-content;
}
