/* */
@import "css/JelmerB.css";
@import "css/JelmerO.css";
@import "css/Robertjan.css";

@font-face {
    font-family: normaltext;
    src: url(/font/Swansea-q3pd.ttf);
}

@font-face {
    font-family: titletext;
    src: url(/font/Deacon-Flock.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: normaltext;
}

h1{
    font-family: titletext;
    font-size: 48px;
}
